@model DAISY.Models.tb_CUAHANG_SPDK

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_CUAHANG_SPDK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tb_CUAHANG.IDUSER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_CUAHANG.IDUSER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENSPDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSPDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIABAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
