@model IEnumerable<DAISY.Models.tb_SANPHAM_SPDK>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tb_CUAHANG_SPDK.HINHANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_SANPHAM.TENSANPHAM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tb_CUAHANG_SPDK.HINHANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_SANPHAM.TENSANPHAM)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { @idch = item.IDCUAHANG, @idsp = item.IDSANPHAM, @idtp = item.IDSPDK }) |
            @Html.ActionLink("Delete", "Delete", new { @idch = item.IDCUAHANG, @idsp = item.IDSANPHAM, @idtp = item.IDSPDK })
        </td>
    </tr>
}

</table>
