@model DAISY.Models.tb_SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_LOAISANPHAM.TENLOAISANPHAM)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSANPHAM)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.HINHANH)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.IDSANPHAM }) |
    @Html.ActionLink("Trở về", "Index")
</p>
