@model IEnumerable<DAISY.Models.tb_SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">

    <div id="msg"></div>

    <script>

    // Khởi tạo và thêm bản đồ
    var map;

    function haversine_distance(mk1, mk2) {
        var R = 6371.0710 // Bán kính Trái đất tính bằng km
        var rlat1 = mk1.position.lat() * (Math.PI / 180); // Chuyển đổi độ sang radian
        var rlat2 = mk2.position.lat() * (Math.PI / 180); // Chuyển đổi độ sang radian
        var difflat = rlat2 - rlat1; // Khoảng radian (vĩ độ)
        var difflon = (mk2.position.lng() - mk1.position.lng()) * (Math.PI / 180); // Khoảng radian (kinh độ)

        var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.sin(difflon / 2) * Math.sin(difflon / 2)));
        return d;
    }


    function initMap() {
        // Bản đồ, tập trung vào khu vực Khuôn viên Đại học Quốc Gia Tp.HCM

        const center = { lat: 10.873328, lng: 106.7959087 };

        const options = { zoom: 15, scaleControl: true, center: center };

        // Vị trí của các địa điểm cần đo

        // Vị trí trường Đại học Nông Lâm
        const nonglam = { lat: @ViewBag.ViDo, lng: @ViewBag.KinhDo };

        // Vị trí trường Đại học Khoa Học Tự Nhiên
        const khtn = { lat: 10.882080578497431, lng: 106.78260594481009 };


        // Các điểm đánh dấu cho Vị trí trường Đại học Nông Lâm và Vị trí trường Đại học Khoa Học Tự Nhiên
        var mk1 = new google.maps.Marker({ position: nonglam, map: map });
        var mk2 = new google.maps.Marker({ position: khtn, map: map });

        // Vẽ một đường thẳng cho thấy khoảng cách thẳng giữa các điểm đánh dấu
        var line = new google.maps.Polyline({ path: [nonglam, khtn], map: map });

        // Tính toán và hiển thị khoảng cách giữa các điểm đánh dấu
        var distance = haversine_distance(mk1, mk2);
        document.getElementById('msg').innerHTML = distance.toFixed(2) + " km";

    }
    </script>

    @Html.Action("ViewDanhmuc", "Home")

    <div class="row">
        <div class="col-2">
            <div class="card list-container" style="padding: 2rem; border-radius: 1rem; box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.125);">
                @foreach (var item in Model)
                {
                    <div class="list text-hover" style="margin-top:12px; margin-bottom: 14px">
                        @item.TENSANPHAM
                    </div>
                }
            </div>
        </div>
        <div class="col">
            <div class="show-container row row-cols-2 row-cols-lg-5 g-3 g-lg-3">
                @foreach (var item in Model)
                {
                    <div class="show">
                        <div class="card card-hover shadow" style=" border-radius: 1rem ">
                            <img style="border-radius:1rem;" src="@item.HINHANH" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 style="height: 30px; text-align:center">@item.TENSANPHAM</h6>
                            </div>
                        </div>

                    </div>
                }
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <div class="col col-lg-1" style="width:150px; text-align: center" id="load-more">
                        Xem thêm
                    </div>
                    <div class="col col-lg-1" style="width:150px; text-align: center; display:none" id="thu-lai">
                        Thu lại
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  Learn more*@
    <script>
        let loadMoreBtn = document.querySelector('#load-more');
        let currentItem = 10;

        loadMoreBtn.onclick = () => {
            let showes = [...document.querySelectorAll('.container .show-container .show')];
            let listes = [...document.querySelectorAll('.container .list-container .list')];
            for (var i = currentItem; i < currentItem + 10; i++) {
                try {
                    showes[i].style.display = 'inline-block';
                    listes[i].style.display = 'inline-block';
                }
                catch (err) { }
            }
            currentItem += 10;
            thulaiBtn.style.display = 'inline-block';


            if (currentItem >= showes.length) {
                loadMoreBtn.style.display = 'none';
                thulaiBtn.style.display = 'inline-block';
            }
        }
    </script>

    @*  Thu lại*@
    <script>
        let thulaiBtn = document.querySelector('#thu-lai');

        thulaiBtn.onclick = () => {
            let showess = [...document.querySelectorAll('.container .show-container .show')];
            let listes = [...document.querySelectorAll('.container .list-container .list')];
            for (var i = 10; i < showess.length; i++) {
                showess[i].style.display = 'none';
                listes[i].style.display = 'none';
            }
            currentItem = 10;
            thulaiBtn.style.display = 'none';
            loadMoreBtn.style.display = 'inline-block';
            if (currentItem1 >= showess.length) {

            }
        }
    </script>
</div>