@model IEnumerable<DAISY.Models.Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4>
    Giỏ hàng <br />

</h4>


    <table class="table">
        <tr>
            <th></th>
            <th style="width: 250px">@Html.DisplayNameFor(model => model.tenSP)</th>

            <th>@Html.DisplayNameFor(model => model.giaBan)</th>
            <th>@Html.DisplayNameFor(model => model.iSoluong)</th>
            <th>@Html.DisplayNameFor(model => model.dThanhtien)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td> <img id="@item.idSP@item.idSP@item.idSP" src="@item.hinh" width="180" /> </td>
        <td style="width:250px">
            <div style="margin-top:80px; margin-bottom:80px">
                <b>@Html.DisplayFor(modelItem => item.tenSP)</b>
            </div>
        </td>

        @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.idSP }))
        {

            <td>
                <div style="margin-top: 80px;">
                    <b>@String.Format("{0:0,0}", item.giaBan)₫</b>
                </div>
            </td>
            <td style="width:100px">
                <div style="margin-top: 75px;">
                    <b><input class="form-control" id="soluong_@item.idSP" type="number" min="1" name="txtSolg" value="@item.iSoluong" style="width: 70px " /></b>
                </div>
            </td>
            <td>
                <div style="margin-top: 80px; margin-bottom: 80px;">
                    <b>@String.Format("{0:0,0}", item.dThanhtien)₫</b>
                </div>
            </td>
            <td>
                <div style="margin-top: 80px; color:red">
                    @Html.ActionLink("Xóa sản phẩm", "XoaGiohang", new { @id = item.idSP })
                </div>
            </td>
            <td> 

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#soluong_@item.idSP').on('change', function () {
                            @*alert('test');*@
                            var sl = $('#soluong_@item.idSP').val();
                            @*alert(idloaisp);*@
                            $.ajax({
                                type: 'GET',
                                data: { 'id': @item.idSP, 'sl': sl  },
                                url: '@Url.Action("CapnhatGiohangJQ", "GioHang")',
                                success: function (result) {
                                    @*alert(result);*@
                                    location.reload();
                                }
                            })
                        })
                    })
                </script>
            </td>



        }
    </tr>
        }




        <tr style="font-weight:bold; text-align:left; color:red">
            <td colspan="2"> Số loại sản phẩm: @ViewBag.Tongsoluongsanpham </td>
            <td colspan="2"> Số lượng sản phẩm: @ViewBag.Tongsoluong </td>
            <td colspan="4">
                Tổng tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien)₫
            </td>
        </tr>
        <tr style="font-weight:bold; color:blue; text-align:right ">
            <td colspan-"5">
                @Html.ActionLink("Xóa tất cả giỏ hàng", "XoaTatcaGioHang")
            </td>
        </tr>
        <tr style="font-weight:bold; color:yellow; text-align:right ">
            <td colspan-"5">

                <a class="btn btn-outline-danger" href="@Url.Action("DatHang", "GioHang")">
                    Đặt hàng
                </a>
            </td>
        </tr>
    </table>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#a').on('mousemove', function () {
                var idsp = $('#b').val();
                $.ajax({
                    type: 'GET',
                    data: { idsp: idsp },
                    url: '@Url.Action("loadTP", "GioHang")',
                    success: function (result) {
                        var s = '<option value="-1">Chọn topping</option>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].Id + '">' + result[i].Name + '</option>';
                        }
                        $('#c').html(s);
                    }
                })
            })
        })
    </script>

    

