@model DAISY.Models.tb_CUAHANG

@{
    ViewBag.Title = "Uytin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:2rem">
    <h4 style=" font-weight: 700">THÔNG TIN CỬA HÀNG</h4>

    <h4>@ViewBag.mess</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận" class="btn btn-outline-danger" />
        </div>
    }
    @Html.ActionLink("Trở về", "Index", "QuanLyAdmin")
    <hr />

    <div class="card mb-3" style="border-radius:1rem">

        <div style="display:flex; margin:1rem; margin-top:0">
            <svg style="margin-top:1px; margin-right: 4px; color:red" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
            </svg>
            <a style="text-decoration:none" class="text-hover" href="@Url.Action("Dinhchi", "CuaHang", new {@id = Model.IDCUAHANG})">
                <h5 style="color:red; font-weight:900" class="card-title">TẠM ĐÌNH CHỈ HOẠT ĐỘNG CỬA HÀNG</h5>
            </a>
        </div>
        <img style="padding:1rem; border-radius:1rem" src="@Model.HINHANH" class="card-img-top" alt="...">
        <div class="card-body" style="font-weight: 700">



            @if (@Model.TRANGTHAI == "Đang hoạt động")
            {
                <h5 style="color:green; font-weight:700" class="card-title">Trạng thái: @Model.TRANGTHAI</h5>
            }
            else
            {
                <h5 style="color: red; font-weight: 700" class="card-title">Trạng thái: @Model.TRANGTHAI</h5>
            }

            <h5 class="card-title">Tên cửa hàng: @Model.TENCUAHANG</h5>

            <img src="@Model.AspNetUsers.Image" style="height:150px; width: 150px; border-radius:100%; border: 5px; border-style: solid; border-color:lightgray; margin:1rem" />

            <h6 class="card-title">Đại diện cửa hàng: @Model.AspNetUsers.Name</h6>

            <h6 class="card-title">Địa chỉ Email: @Model.AspNetUsers.Email</h6>

            <h6 class="card-title">Số điện thoại: @Model.AspNetUsers.PhoneNumber</h6>

            <iframe src="@Model.GOOGLEMAP" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <h6 class="card-title">Địa chỉ: @Model.AspNetUsers.Diachi</h6>


        </div>
    </div>
</div>

