<!DOCTYPE html>
<html>
<head style="background-color:lavender">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/Content/bootstrap/Swiper.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/Custom.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/Font.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" style="color:red" href="@Url.Action("Index", "Home")"><b>DAISY</b></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Quanly", "Home")">Quản lý Website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Cuahang", "Home")">Quản lý Cửa hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Khachhang", "Home")">Quản lý Đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Role")">Quyền truy cập</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "LoaiSanPham")">Loại sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "SanPham")">Sản phẩm</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    <div class="mx-auto" style="width: 1550px; height: 250px; background-image: url('/Content/img/DAISYbanner.png') ">
        <div class="position-relative" style="height:180px">
            <div class="position-absolute bottom-0 start-50 translate-middle-x">
                <form class="container-fluid" style="width:600px">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm món ăn mà bạn yêu thích, còn lại để DAISY lo nhé!" aria-label="Username" aria-describedby="basic-addon1">

                        <button class="input-group-text btn-dark">
                            <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                                <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
                                <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z" />
                            </svg>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="~/Scripts/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    @*    Slide show*@
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 6,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>


    @*    Popover*@
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        var popover = new bootstrap.Popover(document.querySelector('.example-popover'), {
            container: 'body'
        })
    </script>

    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

    @RenderSection("upload", required: false)

</body>
</html>
