  @model DAISY.Models.tb_KICHCO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin kích cỡ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKICHCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKICHCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THETICH_TRONGLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THETICH_TRONGLUONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.IDKICHCO }) |
    @Html.ActionLink("Trở về", "Index")
</p>
