@model DAISY.Models.tb_LOAISANPHAM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="font-weight:700; margin-top:1rem">LOẠI SẢN PHẨM</h4>
@Html.ActionLink("Trở về", "Index", "QuanLyAdmin")
<hr />
<div class="row">
    <div class="col-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TENLOAISANPHAM, "Tên loại sản phẩm", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENLOAISANPHAM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENLOAISANPHAM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HINHANH, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input name="HINHANH" id="HINHANH" class="form-control" value="" />

                        @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })


                        <input type="file" name="fileUpload" id="fileUpload" accept="image/*" zz style="display:none;" />
                        <br />

                        <img src="~/Content/img/img-none.png" id="pictureUpload" class="img-none" style="height:270px; width:270px" />
                        @section upload
                {
                            <script>
                                $(function () {
                                    $('#pictureUpload').click(function () {
                                        $('#fileUpload').trigger('click');
                                    });
                                });
                                $('#fileUpload').change(function () {
                                    if (window.FormData !== undefined) {
                                        var fileUpload = $('#fileUpload').get(0);
                                        var files = fileUpload.files;
                                        var formData = new FormData();
                                        formData.append('file', files[0]);
                                        $.ajax(
                                            {
                                                type: 'POST',
                                                url: '/LoaiSanPham/ProcessUpload',
                                                contentType: false,
                                                processData: false,
                                                data: formData,
                                                success: function (urlImage) {
                                                    $('#pictureUpload').attr('src', urlImage);
                                                    $('#HINHANH').val(urlImage);
                                                },
                                                error: function (err) {
                                                    alert('Error ', err.statusText);

                                                }
                                            });
                                    }
                                });
                            </script>
                        }



                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm loại sản phẩm" class="btn btn-outline-danger" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-8">
        <table class="table table-striped-columns">
            <tr style="font-size:20px; color: red">
                <th>
                    TÊN LOẠI SẢN PHẨM
                </th>
                <th>
                    HÌNH ẢNH
                </th>
                <th>
                    TRẠNG THÁI
                </th>
            </tr>

            @foreach (var item in ViewBag.listlsp)
            {
                <tr>
                    <td>
                        <h6 style="font-weight:700">
                            @item.TENLOAISANPHAM
                        </h6>

                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new {@id = item.IDLOAISANPHAM})">
                            <img style="height:150px; width: 150px; object-fit:cover" src="@item.HINHANH" />
                        </a>
                    </td>
                    <td>

                        @if (item.TRANGTHAI == "Khả dụng")
                        {
                            <h6 style="font-weight: 700; color: green">@item.TRANGTHAI</h6>
                        }
                        else
                        {
                            <h6 style="font-weight: 700; color: red">@item.TRANGTHAI</h6>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

