@model IEnumerable<DAISY.Models.tb_SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">

    @Html.Action("ViewDanhmuc", "Home")

    <div class="list text-hover" style="margin-top:12px; margin-bottom: 14px">
    </div>

    <h5 style="margin-top:5rem; font-weight:700">KHÁM PHÁ SẢN PHẨM</h5>
    <div class="row">
        <div class="col-2">
            <div class="card list-container" style="padding: 2rem; border-radius: 1rem; box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.125);">
                @foreach (var item in Model)
                {
                    <div class="list text-hover" style="margin-top:12px; margin-bottom: 14px">
                        @item.TENSANPHAM
                    </div>
                }
            </div>
        </div>
        <div class="col">
            <div class="show-container row row-cols-2 row-cols-lg-5 g-3 g-lg-3">
                @foreach (var item in Model)
                {
                    <div class="show">
                        <div class="card card-hover shadow" style=" border-radius: 1rem ">
                            <a href="@Url.Action("SanPhamBySanPham", new { @id = item.IDSANPHAM})">
                                <img style="border-radius:1rem;" src="@item.HINHANH" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h6 style="height: 30px; text-align:center; color:black">@item.TENSANPHAM</h6>
                            </div>
                        </div>

                    </div>
                }
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <div class="col col-lg-1" style="width:150px; text-align: center" id="load-more">
                        Xem thêm
                    </div>
                    <div class="col col-lg-1" style="width:150px; text-align: center; display:none" id="thu-lai">
                        Thu lại
                    </div>
                </div>
            </div>
        </div>
    </div>





    <h5 style="margin-top:5rem; font-weight:700">KHÁM PHÁ CỬA HÀNG</h5>
    <div class="row">
        <div class="col-2">
            <div class="card list-container" style="padding: 2rem; border-radius: 1rem; box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.125);">
                @foreach (var item in ViewBag.Cuahang)
                {
                    <div class="list text-hover" style="margin-top:12px; margin-bottom: 14px">
                        @item.TENCUAHANG
                    </div>
                }
            </div>
        </div>
        <div class="col">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                @foreach (var item in ViewBag.Cuahang)
                {
                    <div class="col">
                        <div class="card card-hover shadow" style=" border-radius: 1rem ">
                            <img style="border-radius:1rem;" src="@item.HINHANH" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.TENCUAHANG</h5>
                                <p class="card-text">@item.DIACHI</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



    @*  Learn more*@
    <script>
        let loadMoreBtn = document.querySelector('#load-more');
        let currentItem = 10;

        loadMoreBtn.onclick = () => {
            let showes = [...document.querySelectorAll('.container .show-container .show')];
            let listes = [...document.querySelectorAll('.container .list-container .list')];
            for (var i = currentItem; i < currentItem + 10; i++) {
                try {
                    showes[i].style.display = 'inline-block';
                    listes[i].style.display = 'inline-block';
                }
                catch (err) { }
            }
            currentItem += 10;
            thulaiBtn.style.display = 'inline-block';


            if (currentItem >= showes.length) {
                loadMoreBtn.style.display = 'none';
                thulaiBtn.style.display = 'inline-block';
            }
        }
    </script>

    @*  Thu lại*@
    <script>
        let thulaiBtn = document.querySelector('#thu-lai');

        thulaiBtn.onclick = () => {
            let showess = [...document.querySelectorAll('.container .show-container .show')];
            let listes = [...document.querySelectorAll('.container .list-container .list')];
            for (var i = 10; i < showess.length; i++) {
                showess[i].style.display = 'none';
                listes[i].style.display = 'none';
            }
            currentItem = 10;
            thulaiBtn.style.display = 'none';
            loadMoreBtn.style.display = 'inline-block';
            if (currentItem1 >= showess.length) {

            }
        }
    </script>
</div>